services:
  # 主服务
  tg-name-updater:
    image: jiangbkvir/tg-name-updater:latest
    container_name: tg-name-updater
    restart: unless-stopped
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./session:/app/session
