services:
  # 主服务
  tg-name-updater:
    image: jiangbkvir/tg-name-updater:latest
    container_name: tg-name-updater
    restart: on-failure
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./session:/app/session
    healthcheck:
      test: ["CMD", "pgrep", "-f", "python3"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
