name: Build & Push Docker Image

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
    paths-ignore:
      - README.md
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 拉取代码
        uses: actions/checkout@v4

      - name: 启用 QEMU
        uses: docker/setup-qemu-action@v3

      - name: 启用 Buildx
        uses: docker/setup-buildx-action@v3

      # 登录 Docker Hub
      - name: 登录 Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 登录 GHCR
      - name: 登录 GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 自动生成 tag：latest + vX.Y.Z
      - name: 生成镜像标签
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            jiangbkvir/tg-name-updater
            ghcr.io/jiangbkvir/tg-name-updater
          tags: |
            type=raw,value=latest
            type=ref,event=tag

      - name: 构建并推送镜像
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
