name: Build and Push Docker Image

on:
  push:
    branches:
      - master
    paths:
      - 'Dockerfile'
      - 'entrypoint.sh'
      - 'tg_name_update.py'
      - 'README.md'
      - '.github/workflows/docker.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v4

      - name: 启用 QEMU
        uses: docker/setup-qemu-action@v3

      - name: 启用 Buildx
        uses: docker/setup-buildx-action@v3

      - name: 登录 Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 构建并推送镜像
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: jiangbkvir/tg-name-updater:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: 更新 Docker Hub README
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: jiangbkvir/tg-name-updater
          readme-filepath: ./README.md
